/* Main Index Page*/
/* Nav-bar */
.myNav{
    margin-right:10px;
    color:white;
    font-weight: bold;
    font-size:18px;
    padding:5px;

}

a:link, a:visited {
    text-decoration: none;
    cursor: auto;
}

a:link:active, a:visited:active {
    color:lightslategrey;
}

/* End nav-bar */




#header{
    padding-top:40px;
    height:600px;
    background-color: lightblue;
}

#leftH{
    margin-top:10%;
}

#rightH{
    padding-left:35px;
}
#b1{
     margin-right:10px;
 }
#onF{
    width:100px;
    margin-right:0px;
}
#onS{
    width:100px;
    margin-left:-5px;
}
.img1{
    width:400px;
    height:400px;
}
.img{
    width:200px;
    height:200px;

}

.img3{
    position: center;
    margin-left:17%;
}
#onV{
    width:200px;

}

#thr{
    background-color:paleturquoise;
    padding:1%;
}

.p1{
    text-align: justify;
}

#footer1{
    padding-top:2%;
    padding-left:3%;
    font-size: 18px;
}
#footer{
    list-style-type: none;
}
#footer>li{
    display: inline;
    margin-left: 10px;
}
/*End Main Index Page*/






/* Shop Page */
#shop{
    background-color: lightgrey;
    padding:10px;
}
#shop2{
    background-color: whitesmoke;
}
#shop3{
    background-color: white;
    padding-top:2%;
    padding-bottom: 5%;
}
.pr1{
    list-style-type: none;

}
.pr2{

    font-weight: bold;
}

#pr3{
    font-weight: bolder;
}

.pr4{
    width:150px;
    height:120px;
}
#pr5{
    padding-right: 6%;
}

.pr6{
    font-weight: bold;
    color:black;
    font-size: 18px;
}

.pr7{
    font-weight: bold;
    color:lightslategrey;
    font-size: 16px;

}

.pr8{
    border:1px solid lightslategrey;
    text-align: center;
    color:grey;
    height:30px;
    width:200px;
    margin-left:30%;
}


/* End Shop Page */






/* Show Product Page */
#mr{
    padding-top:7%;
    padding-bottom:10%;
    padding-left: 5%;
}

#mr1{
    width:250px;
    height:250px;
    margin-left:60px;


}

#mr2{
    border:2px solid lightslategrey;
    padding:3%;


}

#mr4{
    padding-left: 4%;
}
#mr5{
    width:125px;
}

#mr6{
    background-color: lightgrey;
    padding-top:1%;

}

.mr7{
    width:100px;
    height:100px;
    margin-left:70px;
}

.mr8{

    padding:1%;

}
#mr9{
   padding:1%;

}

.mr10{
    padding-top:3%;
    border:2px solid lightslategrey;
    background-color: white;

}

.mr11{
    font-weight: bolder;
}

.mr12{
    color:black;
}
#mr13{
    color:slategrey;
}
#mr14{
    color:lightslategrey;
}
/* End Show Product Page */





/* Cart Page */
#ni{
    width:70px;
    height:70px;
}

#niL{
    width:170px;

}
#niR{
    width:210px;

}

#ni1{
    background-color: lightgrey;
    padding-bottom: 2%;
    padding-top: 2%;
}
#ni12{
    padding:1%;
}
#ni3{
    margin-left:14px;
}

#ni14{
    background-color: whitesmoke;

}
.ni15{
    background-color: white;
    padding: 1%;

}
.ni16{

    color:black;
    font-weight: bold;
}
.ni17{
    color:slategrey;
    font-weight: bold;
}


.ni19{
    color:dodgerblue;
    font-weight: bold;
}
.ni20{
    color:slategrey;
    font-weight: bold;
}



/* End Cart Page */



/* Checkout Page */
#bi{
    background-color: whitesmoke;

}

#bi1{
    padding-top:2%;
    padding-bottom: 4%;
    background-color: white;

}

.bi2{
    font-weight: bolder;
}

/* End Checkout Page */
.bi3{
    list-style-type: none;
}

.bi4{
    font-weight: bold;
}
.bi5{
    margin-left:70%;
    margin-bottom: 0px;
}

.bi6{
    font-weight: bold;
}

/* End Checkout Page */






/* About Page */

#ci{
    background-color: whitesmoke;
}

#ci1{
    background-color: white;
    padding-bottom: 40%;
}

/* End About Page */





/* Thank Page */
#li{
    background-color: whitesmoke;
}

#li1{
    background-color: white;
    padding-top:2%;
    padding-bottom: 24%;
}
.li2{
    padding-top:20%;


}

#li3{
    margin-left: 43%;
}
/* End Thank Page */
